// --------------------

$colors-first: (
  primary: #D6F1F5,
  secondary: #FF934F,
  accent: #588B8B,
  lighterDark: #4A4A48,
  dark: #262322,
);

$colors-sepia: (
  primary: #b99b80,
  secondary: lighten(#b99b80, 10%),
  lighterSecondary: lighten(#b99b80, 35%),
  accent: #1E555C,
  lighterAccent: lighten(#1E555C, 20%),
  lighterDark: #262322,
  dark: #0F1108,
);

@function sepiaColor($name) {
  @return map-get($map: $colors-sepia, $key: $name);
}

@function color($name) {
  @return map-get($map: $colors-first, $key: $name);
}

// --------------------

@font-face {
  font-family: "Century Gothic";
  src: url(../fonts/GOTHIC.TTF);
}

* {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: "Courier new", monospace;
}

::selection {
  background-color: #ffd800;
}

input, button {
  outline: none;
}

::-webkit-scrollbar {
  // display: none;

  width: 10px;
}

::-webkit-scrollbar-button {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;

  background: #b4b2b7;
}

#bg {
  z-index: -10;
  position: fixed;
  height: 100%;
  width: 100%;

  opacity: .2;

  background: #b4b2b7 url(../abg.png) repeat;
  filter: sepia(1) contrast(.8);
  background-size: 20%;
}

.App {
  z-index: 10;

  height: 100%;
  width: 100%;  

  display: grid;

  grid-template-rows: auto;
  grid-template-columns: auto;

  grid-template-areas: 
        "header"
        "main";

  margin: 0;
  padding: 0;

}

header {
  grid-area: header;

  overflow: hidden;

  user-select: none;

  z-index: 100;
  height: 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 136px;

  background: #4A4A48;
  box-shadow: 0 1px 3px rgba(96, 96, 96, 0.712);
}

header > span {
  display: block;

  color: white;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  /* background-color: rgba(255, 217, 0, 0.7); */

  /* text-shadow: 1px 1px 0 #00f1e5, -1px -1px 0 #ff00ae; */
}

main {
  z-index: 50;
  grid-area: main;

  display: grid;

  grid-template-columns: 136px auto 60px auto 136px;
  /* grid-template-rows: 60px auto 60px auto 60px; */
  grid-template-rows: 50px auto 50px auto 40px;

  overflow: auto;

  grid-template-areas: 
      ". . . . ."
      ". card1 . card2 ."
      ". . . . ."
      ". calendar calendar calendar ."
      ". . . . ."
      ;

  padding: 0;

  height: 100%;
}

.Card1 {
  grid-area: card1;
}

.Card2 {
  grid-area: card2;
}

#Calendar {
  grid-area: calendar;
}

.date-card {
  display: flex;
  flex-direction: column;

  height: 275px;
  width: 562px;

  overflow: hidden;

  margin: 0;
  padding: 0;

  background: #fff;

  box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
  border-radius: 15px;
}

.date-card > .card-header {
  margin: 0;

  background: sepiaColor(primary);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 0 15px;

  height: 50px;
  width: 100%;

  text-align: center;
  font-size: 20px;
  font-weight: bold;

  /* border-bottom: 1px solid #4A4A48; */

  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  /* border-radius: 15px 15px 0 0; */

  > .new-activity {
    justify-self: flex-start;

    height: 20px;
    width: 20px;
    padding: 0;
    border-radius: 50%;

    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;

    border: 1.5px solid #fff;
    background: transparent;

    transition: .25s;

    user-select: none;
  }

  > .new-activity:hover {
    box-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
    transform: rotate(90deg);
  }

  > .new-activity:active {
    box-shadow: 0 0 5px rgba(110, 110, 110, 0.8), inset 0 0 5px rgba(110, 110, 110, 0.8);
  }

  > span {
    margin-left: 20px;
    color: #fff;
  }
}


.Card1 > .card-header {
  background: sepiaColor(lighterAccent);
}

.Card2 > .card-header {
  background: sepiaColor(primary);
}

/* TODO: Make a nice scrollbar :> */

.card-content {
  height: calc(100% - 50px);
  /* padding: 5px 25px; */
  padding: 10px;
  
  overflow: auto;
}

.card-content > ul.activities {
  list-style: none;

  padding: 0;
  margin: 0;
}

.activity {
  display: grid;

  grid-template-columns: 20px auto auto;
  grid-template-rows: 10px auto auto;

  grid-template-areas: 
      ".     time ."
      "check name name"
      ".     desc desc";

  margin: 2px 0;
  padding: 2px 15px;

  word-wrap: normal;

  border-left: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  transition: .25s;

  > .activity-time {
    grid-area: time;

    font-size: 10px;
    color: #c0c0c0;
  }

  > .activity-done {
    grid-area: check;
  }

  > .activity-name {
    grid-area: name;

    // background: cyan;
  }

  > .activity-description {
    grid-area: desc;

    padding-left: 15px;
    font-size: 13px;
    color: #2e2e2e;

    // background: orange;
  }
}

.activity.done {
  background: sepiaColor(lighterSecondary);

  > .activity-name {
    text-decoration: line-through;

  }
}

.activity.done:hover {
  background: sepiaColor(lighterSecondary);
}

.activity:hover {
  background: rgba(0, 0, 0, .005);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  border-left: 2px solid rgba(0, 0, 0, .5);
}

#Calendar {
  width: auto;
}

/* slider */
input[type=range] {
    -webkit-appearance: progress-bar;
    width: 100%;
    background: transparent;
    outline: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #afafaf;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: rgba(163, 122, 144, 0.64);
    border-radius: 2px;
}
/* /slider */
