.day {
  background: #fff;

  padding: 0;

  overflow: hidden;

  display: grid;

  grid-template-rows: 20% auto;

  /* border-radius: .5rem;  */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.day-head {
  background: lightgoldenrodyellow;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(87, 99, 110);
  text-shadow: 2px 2px 0px #fff;  
  font-size: 1.5rem;
  font-weight: bold;

  padding: 0 .5rem;

  user-select: none;
}

.other-month .day-head{
  background:  #eeeeee;
}

.day-body {
  overflow: auto;
  padding: 4%;
  margin: 0;
}

.todo.minified {
  padding: .2rem;
}

.todo::before {
  content: '-';
}