.tool-button {
  height: 2vh;
  width: 2vh;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
  filter: sepia(50%);

  &--warning {
    background: tomato;
    box-shadow: 0 0 1vh tomato;
    padding: 10%;
  }
}
