*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Century Gothic', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

body {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

::-moz-selection {
  background: rgba(173, 216, 230, 0.288);
}

::selection {
  background: rgba(173, 216, 230, 0.288);
}

::-webkit-scrollbar {
  height: 1vh;
  width: 0.5rem;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.app {
  background: #4a4a48;
  height: 100vh;
  width: 100vw;
}

header {
  z-index: 100;
  height: 5vh;
  padding: 0 5vw 0.3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #3d3d3b;
  /* font-family: 'Courier New', monospace; */
}

.header__splash {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 3vh;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 166, 0, 0.8), 1px 1px 1px rgba(0, 255, 255, 0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.calendar {
  display: -ms-grid;
  display: grid;
  padding: 0 5vw;
  -ms-grid-rows: 8vh 80vh;
      grid-template-rows: 8vh 80vh;
      grid-template-areas: 'cal-head' 'cal-body';
}

.calendar__body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cal-body;
  height: 80vh;
  border-radius: 0.5rem;
}

.calendar__head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cal-head;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

.calendar__head * {
  color: inherit;
  text-shadow: inherit;
}

.calendar__head__title {
  font-size: 2.5vw;
  width: 27vw;
  text-align: center;
}

.calendar__head__title::before {
  content: open-quote;
}

.calendar__head__title::after {
  content: close-quote;
}

.calendar__head__button {
  height: 3vh;
  border: none;
  outline: none;
  background: transparent;
  font-size: 3vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.calendar__head__button:hover {
  color: #fff;
  text-shadow: -1px -1px 1px #dfd581, 1px 1px 3px rgba(223, 119, 119, 0.7);
}

.month {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  padding: 0.3rem;
}

.tile {
  z-index: 40;
  height: 13vh;
  padding: 0;
  color: #ffffff;
  border-radius: 0;
  outline: 0.2vh solid rgba(134, 134, 134, 0.3);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.tile__label {
  position: relative;
  z-index: 100;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 1vw;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border-radius: 0;
}

.tile__label__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-shadow: 2px 2px 0px black;
  font-size: 5vh;
  font-weight: bold;
}

.tile__content {
  z-index: 50;
  height: 100%;
  margin: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  padding: 0.5vh;
  font-size: 1.5vh;
  overflow: auto;
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.tile__content:not(:hover) {
  opacity: 0.6;
}

.tile--other-month {
  opacity: 0.5;
}

.tile--other-month:hover {
  opacity: 0.8;
}

.tile--not-empty .tile__label__name::before {
  content: '';
  display: block;
  width: 1vh;
  height: 1vh;
  margin-right: 0.3vh;
  -webkit-box-shadow: 2px 2px 0px black;
          box-shadow: 2px 2px 0px black;
  border-radius: 50%;
  background: #ff934f;
}

.tile:hover {
  background: rgba(0, 0, 0, 0.05);
}

.tile:hover .tile__label {
  z-index: -1;
  opacity: 0.2;
}

.todo {
  overflow: hidden;
  height: 100%;
  background: rgba(134, 134, 134, 0.295);
  -webkit-box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.todo__head {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2.5vw;
      grid-template-columns: auto 2.5vw;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.todo__head:hover {
  background: rgba(26, 26, 26, 0.4);
}

.todo__head__name {
  display: inline-block;
  line-height: 3vh;
  margin: 0.6vh 0.2vw 0.3vh 0.6vw;
}

.todo__head__btn-expand {
  height: 1.5vw;
  width: 1.5vw;
  border-radius: 50%;
  margin: .6vh auto;
  background: transparent;
  line-height: 1.5vw;
  text-align: center;
  padding: 0;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 10vh #000;
          box-shadow: 0 0 10vh #000;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.todo--minified {
  height: 4vh;
  border-radius: 0;
  margin: 0;
}

.todo--minified .todo__head {
  height: 100%;
}

.todo--minified .todo__head__btn-expand {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.todo--minified .todo__content {
  display: none;
}
/*# sourceMappingURL=index.css.map */