// TODO: BRING CALENDARHEAD (MONTH DISPLAY & SELECTION) TO HEADER

// Themes
// - Light
// #region
$theme-light: (
  bg: ghostwhite,
  text: #000,
  text-shadow: none,
  header-bg: lightcoral,
  header-shadow: none,
  header-text: #fff,
  header-text-shadow: (
    -1px -2px 2px orange,
    1px 1px 2px cyan,
  ),
  calendar-head-text: #fff,
  calendar-head-text-shadow: (
    -1px -1px 1px rgb(223, 213, 129),
    1px 1px 2px rgba(223, 119, 119, 0.7),
  ),
  calendar-head-btn-hover-text: #fff,
  calendar-head-btn-hover-text-shadow: (
    -1px -1px 1px rgb(223, 213, 129),
    1px 1px 3px rgba(223, 119, 119, 0.7),
  ),
  tile-bg: #fff,
  tile-text: #000,
  tile-label-bg: rgba(250, 250, 210, 0.8),
  tile-label-bg-tile--other-month: rgba(238, 238, 238, 0.8),
  tile-label-text: rgb(87, 99, 110),
  tile-label-text-shadow: 2px 2px 0px #fff,
  tile-roundness: 0,
  tile-shadow: 0 2px 2px rgba(0, 0, 0, 0.05),
  selection-color: rgba(173, 216, 230, 0.61),
  pri: #ff934f,
  sec: #d6f1f5,
  acc: #e54b4b,
);
// #endregion
// - Dark
// #region // header-bg: darken(#4a4a48, 5%),
$theme-dark: (
  bg: #4a4a48,
  text: #fff,
  text-shadow: 2px 2px 0px rgb(0, 0, 0),
  header-bg: darken(rgba(74, 74, 72, 0.527), 5%),
  header-text: #fff,
  header-text-shadow: (
    -1px -1px 1px rgba(255, 166, 0, 0.8),
    1px 1px 1px rgba(0, 255, 255, 0.8),
  ),
  calendar-head-text: #fff,
  calendar-head-text-shadow: 2px 2px 0px rgb(0, 0, 0),
  calendar-head-btn-hover-text: #fff,
  calendar-head-btn-hover-text-shadow: (
    -1px -1px 1px rgb(223, 213, 129),
    1px 1px 3px rgba(223, 119, 119, 0.7),
  ),
  tile-bg: rgba(0, 0, 0, 0.274),
  tile-text: #ffffff,
  tile-label-bg: rgba(255, 146, 79, 0.7),
  tile-label-bg-tile--other-month: rgba(238, 238, 238, 0.466),
  tile-label-text: #fff,
  tile-label-text-shadow: 2px 2px 0px rgb(0, 0, 0),
  tile-roundness: 0,
  tile-shadow: 0 2px 2px rgba(0, 0, 0, 0.25),
  selection-color: rgba(173, 216, 230, 0.288),
  pri: #ff934f,
  sec: #d6f1f5,
  acc: #e54b4b,
);
// #endregion
// --------
// Theme selecting and accessing
// #region
$current-theme: $theme-dark;
@function theme($color-name) {
  @return map-get($map: $current-theme, $key: $color-name);
}
// #endregion
// --------
// html, body, global, scrollbar
// #region

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Century Gothic', sans-serif;
  color: theme(text);
  text-shadow: theme(text-shadow);
}

html {
  font-size: 62.5%;
  color: theme(text);
  text-shadow: theme(text-shadow);
}

body {
  margin: 0;
  padding: 0;
}

button,
input {
  outline: none;
  background: transparent;
  border: none;
}

button {
  user-select: none;
}

.btn--round {
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  font-family: monospace;
  padding: 0;
  border: none;
  color: #fff;
  user-select: none;
}

::selection {
  background: theme(selection-color);
}

::-webkit-scrollbar {
  height: 1vh;
  width: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-track {
  background: transparent;
}
// #endregion
// --------
// App
// #region

.app {
  background: theme(bg);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
// #endregion
// --------
// Header
// #region

.app-header {
  z-index: 100;
  height: 6vh;
  padding: 0 5vw 0.3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: theme(header-bg); /* font-family: 'Courier New', monospace; */
  box-shadow: theme(header-shadow);

  &__splash {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    font-size: 3.5vh;
    color: theme(header-text);
    text-shadow: theme(header-text-shadow);
    user-select: none;
  }
}
// #endregion
// --------
// Calendar
// #region

.calendar {
  display: grid;
  padding: 0 5vw;
  grid-template-rows: 8vh 80vh;
  grid-template-areas:
    'cal-head'
    'cal-body';
}

.calendar__body {
  grid-area: cal-body;
  height: 80vh;
  border-radius: 0.5rem;
}
// #endregion
// --------
// CalendarHead
// #region

.calendar__head {
  grid-area: cal-head;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: theme(calendar-head-text);
  text-shadow: theme(calendar-head-text-shadow);

  * {
    color: inherit;
    text-shadow: inherit;
  }

  &__title {
    font-size: 2.5vw;
    width: 25vw;
    text-align: center;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__button {
    height: 3vh;
    border: none;
    outline: none;
    background: transparent;
    font-size: 3vh;
    user-select: none;
    text-shadow: none;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      color: theme(calendar-head-btn-hover-text);
      text-shadow: theme(calendar-head-btn-hover-text-shadow);
    }

    &--prev {
      transform: rotate(90deg);
    }

    &--next {
      transform: rotate(-90deg);
    }
  }
}
// #endregion
// --------
// Month
// #region

.month {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  // width: 90vw;
  // height: 80vh;
  // grid-gap: 0.3rem;
  padding: 0.3rem;
}
// #endregion
// --------
// CalendarTile
// #region

.tile {
  position: relative;
  z-index: 40;
  height: 13vh;
  padding: 0;
  color: theme(tile-text);
  overflow: visible;
  // box-shadow: theme(tile-shadow);
  // background: theme(tile-bg);
  border-radius: theme(tile-roundness);
  outline: 0.2vh solid rgba(134, 134, 134, 0.3);
  transition: 0.15s;

  &__label {
    position: relative;
    z-index: 50;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 1vw;
    overflow: hidden;
    background: transparent;
    user-select: none;
    transition: 0.15s;
    border-radius: theme(tile-roundness);
    transform: translate(0, -100%);

    &__name {
      display: flex;
      align-items: center;
      color: theme(tile-label-text);
      text-shadow: theme(tile-label-text-shadow), 0 0 10vh #000;
      font-size: 5vh;
      font-weight: bold;
    }
  }

  &__content {
    position: relative;
    z-index: 40;
    height: 100%;
    margin: 0;
    padding: 0.5vh;
    overflow: hidden overlay;
    font-size: 1.5vh;
    opacity: 0.5;
    transition: 0.5s;
  }

  &--other-month {
    opacity: 0.5;

    &:hover {
      opacity: 0.8;
    }
  }

  &--not-empty {

    .tile__label__name::before {
      content: '';
      display: block;
      width: 1vh;
      height: 1vh;
      background: theme(pri);
      margin-right: 0.3vh;
      border-radius: 50%;
      box-shadow: theme(tile-label-text-shadow);
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);

    .new-todo-form {

      &__button {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }

      &--active {

        .new-todo-form__button {
          opacity: 1;
        }
      }
    }

    .tile__content {
      opacity: 1;
    }

    .tile__label {
      z-index: -1;
      opacity: 0.2;
    }
  }
}
// #endregion
// Todo
// #region

.todo {
  $todo-bor-rad: 1vh;
  padding: 3%;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 3.5vh;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.8);
  transition: 0.15s;
  user-select: none;

  > * {
    font-size: 1.2rem;
    margin: 0 auto;
  }

  &__tooltip {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1.5vh);
    grid-gap: 0.2vh;
    height: 1.5vh;
    width: fit-content;
    border-radius: 0 25% 25% 0;
    background: transparent;
    transition: 0.15s;
    @mixin tooltip-btn($emoji) {
      height: 1.5vh;
      width: 1.5vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);

      &::before {
        content: $emoji;
        display: block;
        text-shadow: none;
        position: absolute;
        font-size: 1.5vh;
        line-height: 1.5vh;
      }
    }

    &__done {
      @include tooltip-btn('❌');
    }

    &__delete {
      @include tooltip-btn('💩');
      position: absolute;
      right: -5%;
      top: 0;
      opacity: 0;
      background: tomato;
      box-shadow: 0 0 1vh tomato;
      border-radius: 33%;
    }

    &:hover {

      .todo__tooltip__delete {
        opacity: 1;
      }
    }
  }

  &__name {
    width: 100%;
    padding: 2%;
    margin-left: 1.5vh;

    &:not(:disabled) {
      border-radius: 0.2vh;
      text-shadow: none;
      transition: box-shadow 0.25s;

      &[value=''] {
        box-shadow: 2vh 0 1vh rgba(155, 23, 0, 0.404);
      }
    }
  }

  &:hover {
    background: lighten(rgba(0, 0, 0, 0.4), 10%);
  }

  &--done {

    &,
    &:hover {
      background: transparentize(
        $color: darken(theme(sec), 60%),
        $amount: 0.3
      ); // background: darken(theme(sec), 60%);

      .todo__tooltip {

        &__done {

          &::before {
            content: '👌';
          }
        }
      }
    }
  }
}
// #endregion
// TodoForm
// #region

.new-todo-form {
  z-index: 100;
  position: relative;
  height: 0;
  overflow: visible;
  display: grid;
  padding: 0;
  grid-template-columns: auto 2vh;
  grid-template-areas: 'form-body form-btn';
  align-items: start;
  justify-content: end;

  &__body {
    grid-area: form-body;
    height: 0;

    .todo {
      height: 0;
    }
  }
  // TODO: Redesign this button

  &__button {
    grid-area: form-btn;
    z-index: 100;
    position: absolute;
    height: 4vh;
    width: 4vh;
    margin: -2vh -1vh 0 0;
    padding: 0.5vh 0.5vh 0 0;
    background: #4a4a48;
    border-radius: 50%;
    border: solid 0.2vh rgba(134, 134, 134, 0.3);
    box-shadow: inset 0 0 1.5vh rgba(0, 0, 0, 0.26);
    font-size: 2vh;
    color: rgba(134, 134, 134, 0.8);
    text-shadow: 0 0 1.5vh rgba(0, 0, 0, 0.26);
    transition: height 0.25s, margin-top 0.25s, opacity 0.15s,
      background-color 0.15s;
    opacity: 0;
  }

  &--active {
    grid-template-columns: 100% 0;
    margin-bottom: 0;
    height: 3.5vh;
    transition: height 0.25s;

    .new-todo-form__body {
      height: 100%;
      transition: height 0.25s;

      .todo {
        height: 3.5vh;
      }
    }

    .new-todo-form__button {
      height: 3.5vh;
      width: 3.5vh;
      padding: 0;
      margin: 0vh 0 0 -2vh;
      background: rgba(95, 158, 160, 0.411);
      opacity: 1;
    }
  }
}
// #endregion
