@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Century Gothic', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

html {
  font-size: 62.5%;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

body {
  margin: 0;
  padding: 0;
}

button,
input {
  outline: none;
  background: transparent;
  border: none;
}

button {
  user-select: none;
}

.btn--round {
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw;
  border-radius: 50%;
  background: transparent;
  text-align: center;
  font-family: monospace;
  padding: 0;
  border: none;
  color: #fff;
  user-select: none;
}

::selection {
  background: rgba(173, 216, 230, 0.288);
}

::-webkit-scrollbar {
  height: 1vh;
  width: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.app {
  background: #4a4a48;
  height: 100vh;
  width: 100vw;
}

.app-header {
  z-index: 100;
  height: 6vh;
  padding: 0 5vw 0.3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: rgba(61, 61, 59, 0.527);
  /* font-family: 'Courier New', monospace; */
}

.app-header__splash {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 3.5vh;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 166, 0, 0.8), 1px 1px 1px rgba(0, 255, 255, 0.8);
  user-select: none;
}

.calendar {
  display: grid;
  padding: 0 5vw;
  grid-template-rows: 8vh 80vh;
  grid-template-areas: 'cal-head' 'cal-body';
}

.calendar__body {
  grid-area: cal-body;
  height: 80vh;
  border-radius: 0.5rem;
}

.calendar__head {
  grid-area: cal-head;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

.calendar__head * {
  color: inherit;
  text-shadow: inherit;
}

.calendar__head__title {
  font-size: 2.5vw;
  width: 25vw;
  text-align: center;
}

.calendar__head__title::before {
  content: open-quote;
}

.calendar__head__title::after {
  content: close-quote;
}

.calendar__head__button {
  height: 3vh;
  border: none;
  outline: none;
  background: transparent;
  font-size: 3vh;
  user-select: none;
  text-shadow: none;
  cursor: pointer;
  transition: 0.25s;
}

.calendar__head__button:hover {
  color: #fff;
  text-shadow: -1px -1px 1px #dfd581, 1px 1px 3px rgba(223, 119, 119, 0.7);
}

.calendar__head__button--prev {
  transform: rotate(90deg);
}

.calendar__head__button--next {
  transform: rotate(-90deg);
}

.month {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 0.3rem;
}

.tile {
  position: relative;
  z-index: 40;
  height: 13vh;
  padding: 0;
  color: #ffffff;
  overflow: visible;
  border-radius: 0;
  outline: 0.2vh solid rgba(134, 134, 134, 0.3);
  transition: 0.15s;
}

.tile__label {
  position: relative;
  z-index: 50;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 1vw;
  overflow: hidden;
  background: transparent;
  user-select: none;
  transition: 0.15s;
  border-radius: 0;
  transform: translate(0, -100%);
}

.tile__label__name {
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 0px black, 0 0 10vh #000;
  font-size: 5vh;
  font-weight: bold;
}

.tile__content {
  position: relative;
  z-index: 40;
  height: 100%;
  margin: 0;
  padding: 0.5vh;
  overflow: hidden overlay;
  font-size: 1.5vh;
  opacity: 0.6;
  transition: 0.5s;
}

.tile--other-month {
  opacity: 0.5;
}

.tile--other-month:hover {
  opacity: 0.8;
}

.tile--not-empty .tile__label__name::before {
  content: '';
  display: block;
  width: 1vh;
  height: 1vh;
  margin-right: 0.3vh;
  box-shadow: 2px 2px 0px black;
  border-radius: 50%;
  background: #ff934f;
}

.tile:hover {
  background: rgba(0, 0, 0, 0.05);
}

.tile:hover .new-todo-form__button {
  opacity: 0.5;
}

.tile:hover .new-todo-form__button:hover {
  opacity: 1;
}

.tile:hover .new-todo-form--active .new-todo-form__button {
  opacity: 1;
}

.tile:hover .tile__content {
  opacity: 1;
}

.tile:hover .tile__label {
  z-index: -1;
  opacity: 0.2;
}

.todo {
  display: flex;
  overflow: hidden;
  height: 3.5vh;
  border-radius: 0;
  background: rgba(134, 134, 134, 0.295);
  box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.7);
  transition: 0.15s;
}

.todo * {
  font-size: 1.2rem;
}

.todo__head {
  width: 100%;
  padding: 3%;
  padding-right: 5%;
  display: flex;
  flex: 0 0 row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.7);
  transition: 0.15s;
  user-select: none;
}

.todo__head > * {
  margin: 0 auto;
}

.todo__head__done {
  position: relative;
  margin-right: 3%;
  height: 1.5vh;
  width: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.3);
}

.todo__head__done::before {
  content: '❌';
  display: block;
  text-shadow: none;
  position: absolute;
  font-size: 1.5vh;
  line-height: 1.5vh;
}

.todo__head__name {
  width: 100%;
  padding: 2%;
}

.todo__head__name:not(:disabled) {
  border-radius: 0.5vh;
  box-shadow: inset 0 0 2vh rgba(0, 0, 0, 0.4);
  text-shadow: none;
}

.todo__head__name:not(:disabled)[value=''] {
  background: rgba(255, 0, 0, 0.24);
}

.todo__head__btn-expand {
  align-self: auto;
  transform: rotate(0deg);
  width: 1.5vw;
  height: 1.5vw;
  line-height: 1.5vw;
  text-shadow: none;
  box-shadow: 0 0 10vh #000;
  transition: transform 0.15s;
}

.todo__content {
  display: none;
}

.todo:hover .todo__head {
  background: rgba(26, 26, 26, 0.4);
}

.todo--expanded {
  height: 100%;
  user-select: text;
}

.todo--expanded .todo__head {
  height: fit-content;
}

.todo--expanded .todo__head__btn-expand {
  transform: rotate(180deg);
}

.todo--done .todo__head, .todo--done:hover .todo__head {
  background: rgba(30, 111, 123, 0.7);
}

.todo--done .todo__head__done::before, .todo--done:hover .todo__head__done::before {
  content: '👌';
}

.new-todo-form {
  z-index: 100;
  position: relative;
  height: 0;
  overflow: visible;
  display: grid;
  grid-template-columns: auto 2vh;
  grid-template-areas: 'form-body form-btn';
  align-items: start;
  justify-content: end;
  transition: 0.25s ease-in-out;
}

.new-todo-form__body {
  grid-area: form-body;
  height: 0;
  transition: 0.25s;
}

.new-todo-form__body .todo {
  height: 0;
}

.new-todo-form__button {
  grid-area: form-btn;
  z-index: 100;
  position: absolute;
  height: 4vh;
  width: 4vh;
  margin: -2vh -1vh 0 0;
  padding: 0.5vh 0.5vh 0 0;
  background: #4a4a48;
  border-radius: 50%;
  border: solid 0.2vh rgba(134, 134, 134, 0.3);
  box-shadow: inset 0 0 1.5vh rgba(0, 0, 0, 0.26);
  font-size: 2vh;
  color: rgba(134, 134, 134, 0.8);
  text-shadow: 0 0 1.5vh rgba(0, 0, 0, 0.26);
  transition: 0.25s, opacity 0.15s;
  opacity: 0;
}

.new-todo-form--active {
  grid-template-columns: 100% 0;
  margin-bottom: 0;
  height: 3.5vh;
}

.new-todo-form--active .new-todo-form__body {
  height: 100%;
}

.new-todo-form--active .new-todo-form__body .todo {
  height: 100%;
}

.new-todo-form--active .new-todo-form__button {
  height: 3.5vh;
  width: 3.5vh;
  padding: 0;
  margin: 0vh 0 0 -2vh;
  background: rgba(95, 158, 160, 0.411);
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */