* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Century Gothic', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

body {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: rgba(173, 216, 230, 0.288);
}

::selection {
  background: rgba(173, 216, 230, 0.288);
}

::-webkit-scrollbar {
  height: 1vh;
  width: 0.5rem;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.app {
  background: #4a4a48;
  height: 100vh;
  width: 100vw;
}

header {
  z-index: 100;
  height: 5vh;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #30302f;
  /* font-family: 'Courier New', monospace; */
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 3vh;
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 166, 0, 0.8), 1px 1px 1px rgba(0, 255, 255, 0.8);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

.calendar {
  display: -ms-grid;
  display: grid;
  padding: 0 5vw;
  -ms-grid-rows: 8vh 80vh;
      grid-template-rows: 8vh 80vh;
      grid-template-areas: 'cal-head' 'cal-body';
}

.calendar-body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cal-body;
  height: 80vh;
  border-radius: 0.5rem;
}

.calendar-head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cal-head;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 5vh;
  color: #fff;
  text-shadow: 2px 2px 0px black;
}

.calendar-head * {
  color: inherit;
  text-shadow: inherit;
}

.calendar-head > span {
  margin-right: 2vw;
  width: 27vw;
}

.calendar-head > div > button {
  height: 3vh;
  border: none;
  outline: none;
  background: transparent;
  font-size: 3vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.calendar-head > div > button:hover {
  color: #fff;
  text-shadow: -1px -1px 1px #dfd581, 1px 1px 3px rgba(223, 119, 119, 0.7);
}

.month {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  padding: 0.3rem;
}

.tile {
  z-index: 40;
  height: 13vh;
  padding: 0;
  color: #ffffff;
  border-radius: 0;
  outline: 0.2vh dashed rgba(134, 134, 134, 0.3);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.tile-other-month {
  opacity: 0.5;
}

.tile-other-month:hover {
  opacity: 1;
}

.day {
  z-index: 50;
  height: 100%;
  margin: 0;
  margin-top: -12.2vh;
  padding: 3%;
  overflow: auto;
}

.day-label {
  position: relative;
  z-index: 100;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 1vw;
  color: #fff;
  text-shadow: 2px 2px 0px black;
  font-size: 5vh;
  font-weight: bold;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border-radius: 0;
}

.tile:hover {
  background: rgba(0, 0, 0, 0.05);
}

.tile:hover .day-label {
  z-index: -1;
  opacity: 0;
}

.todo.minified {
  padding: 0.2rem;
}

.todo::before {
  content: '> ';
}
/*# sourceMappingURL=index.css.map */