.month {
  box-sizing: content-box;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);

  width: 90vw;
  height: 80vh;
  
  grid-gap: .3rem;

  padding: .3rem;
}

.month:not(:last-child) {
  border-right: dashed .2vw rgb(177, 177, 177);
}